#logo {
	position: absolute;
	top: 40px;
	left: 240px;
	width: 115px;
	height: 65px;
}
.white > li > a  {
	all: unset;
	color: white;
	cursor: pointer;
}
.white {
	list-style: none;
}
.white {
	display: flex;
	flex-direction: row;
    justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 25px;
	margin-left: 500px;
}
#li6 > a {
	text-align: center;
	display: block;
	width: 100px;
	height: 30px;
	background-color:white;
	border-radius: 50px;
	color: #171717;
	padding: 20px 20px 20px 20px;
}
#li1 > a {
	border-bottom: 1px solid;
	padding-bottom: 5px;
}
#main {
	position: absolute;
	top: 215px;
	left: 362px;
	width: 1195px;
	height: 600px;
	margin-top: 30px;
}
h3 {
	color:#171717;
	position: absolute;
	top: 845px;
	left: 362px;
	width: 714px;
	height: 33px;	
}
#head {
	background-color: blue;
	position: absolute;
	width: 100%;
	height: 400px;
	margin-left: -8px;
	margin-top: -17px;
}
.rect {
	display: flex;
	flex-direction: row;
	padding-top: 900px;
	margin-left: 315px;
	list-style: none;
}
.rect > li {
   padding-right: 25px;
}
.para {
	list-style: none;
	max-width: 50%;
	text-align: left;
	margin-left: 450px;
}
#more-inf {
   text-align: center;
   display: block;
   margin-top: 50px;

}
#more-inf > a {
  all: unset;
  cursor: pointer;
  color: white;
  background-color: blue;
  border-radius: 30px;
  padding: 15px 60px;
}

