#logo {
	position: absolute;
	top: 40px;
	left: 240px;
	width: 115px;
	height: 65px;
}
.white > li > a  {
	all: unset;
	color: white;
	cursor: pointer;
}
.white {
	list-style: none;
}
.navbar {
	display: flex;
	flex-direction: row;
	
}
#li6 > a {
	text-align: center;
	display: block;
	width: 100px;
	height: 30px;
	background-color:white;
	border-radius: 50px;
	color: #171717;
	padding: 20px 20px 20px 20px;
}
#main {
	position: absolute;
	top: 215px;
	left: 362px;
	width: 1195px;
	height: 600px;
	margin-top: 30px;
}
p {
	color:#171717;
	position: absolute;
	top: 845px;
	left: 362px;
	width: 714px;
	height: 33px;	
}
#sect {
	background-color: blue;
	position: absolute;
	width: 100%;
	height: 400px;
	margin-left: -8px;
	margin-top: -8px;
}
